html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 20px 0;
}
.grid {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card {
	position: relative;
	margin: 5px;
	transition: all .4s linear;
	transform-style: preserve-3d;
}
.card, .back, .front {
	height: 150px;
	width: 150px;
}
.back, .front {
	position: absolute;
	backface-visibility: hidden;
}
.front {
	z-index: 2;
	background: url('./img/back.jpg') no-repeat center center / contain;
	background-size: 150px 150px;
}
.back {
	transform: rotateY(180deg);
	background-color: white;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.selected {
	transform: rotateY(180deg);
}
.match .front {
	background: transparent;
	animation: zoomie 2s ease-out 1;
}

@keyframes zoomie {
	from {
		transform: scale(1,1) rotate(0deg);
		opacity: 1;
	}
	1% {
		background: url('./img/back.jpg') no-repeat center center / contain;
	}
	20% {
		transform: scale(0.5, 0.5) rotate(180deg);
		opacity: 1;
		background: url('./img/back.jpg') no-repeat center center / contain;
	}
	40% {
		transform: scale(1,1) rotate(360deg);
		opacity: 0.8;
		background: url('./img/back.jpg') no-repeat center center / contain;
	}
	60% {
		transform: scale(2,2) rotate(540deg);
		opacity: 0.5;
		background: url('./img/back.jpg') no-repeat center center / contain;
	}
	80% {
		transform: scale(4,4) rotate(720deg);
		opacity: 0.2;
		background: url('./img/back.jpg') no-repeat center center / contain;
	}
	100% {
		transform: scale(8,8) rotate(900deg);
		opacity: 0;
		background: url('./img/back.jpg') no-repeat center center / contain;
	}
}